<a class="anchor" href="/dashboard"> &larr; Back to dashboard</a>
<p></p>
<article class="card-container">
  <h5 class="blog-heading card-header">Edit Post</h5>

  <div class="edit-post-form">

    Title

      <input name="post-title" type="text" value="{{post.title}}"/>

    Content
     
      <input name="post-body" type="text" value="{{post.post_body}}" />
      by you on {{format_date post.created_at}}



      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </div>
</article>

<p></p>
<p></p>

<div class="edit-post-form">
<form class="card-container">
<h5 class="blog-heading card-header">Add a Comment</h5>
<p></p>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
</div>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>